#sec-08 {
  padding-top: 5.9rem;
  padding-bottom: 5.7rem;
}

#sec-08 .sec-04__title {
  margin-bottom: 1.1rem;
}

#sec-08 .slides__title {
  padding-top: 2.5rem;
  margin-bottom: 1.2rem;
  color: #000;
}

#sec-08 .sec-04__subtitle {
  margin-bottom: 2.8rem;
}

#sec-08 .sec-07__slider {
  margin-bottom: 0;
}

#sec-08 .slides {
  padding-left: 0;
}

#sec-08 .slides__text {
  margin-bottom: 2.1rem;
}

@media (max-width: 767px) {
  .sec-08__middle-list {
    display: none;
  }

  .sec-08__lg-list {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-08 {
    padding-top: 10.3rem;
    padding-bottom: 6.5rem;
    position: relative;
  }

  .sec-08__lg-list {
    display: none;
  }

  #sec-08 .container--width {
    padding-left: 1.4rem;
  }

  #sec-08 .sec-04__title {
    padding-right: 16rem;
    padding-left: 1rem;
    margin-bottom: .5rem;
  }

  #sec-08 .sec-04__subtitle {
    width: 20rem;
    padding-right: 0;
    padding-left: 1rem;
  }

  .sec-08__middle-list {
    position: relative;
  }

  .sec-08__middle-list .row:first-child {
    margin-bottom: 1.3rem;
  }

  #sec-08 .slides__text {
    margin-bottom: .6rem;
    padding-right: 1.1rem;
  }

  #sec-08 .slides {
    margin-bottom: 3rem;
  }

  .sec-08__animation {
    position: relative;
    width: inherit;
    height: inherit;
  }

  .sec-08__animation-block-container {
    position: absolute;
    top: -10.7rem;
    left: 34.5%;
    z-index: -1;
    width: 494px;
    height: 555px;
    background-image: url("img/sec-08/animation-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
  }

  .sec-08__animation-block {
    width: 449px;
    height: 328px;
    position: absolute;
    top: 7.2rem;
    left: 8.9%;
    z-index: -1;
  }

  .sec-08__animation-img {
    display: block;
  }

  .sec-08__animation-block-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .sec-08__animation-block-img-04 {
    left: 52%;
  }

  .sec-08__animation-block-img-03 {
    left: 52%;
  }

  .sec-08__animation-img-01 {
    animation-name: reverse-spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .sec-08__animation-img-02 {
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .sec-08__animation-img-03 {
    animation-name: reverse-spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .sec-08__animation-img-04 {
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

}

@media (min-width: 1200px) {
  #sec-08 {
    padding-top: 11.9rem;
    padding-bottom: 7.1rem;
  }

  .sec-08__middle-list {
    display: none;
  }

  .sec-08__lg-list {
    display: block;
  }

  #sec-08 .sec-04__title {
    padding-left: 0;
  }

  #sec-08 .sec-04__subtitle {
    padding-left: 0;
  }

  #sec-08 .slides__title {
    padding-top: 3rem;
  }

  #sec-08 .counter {
    top: 4%;
  }

  .sec-08__lg-second-list {
    display: flex;
    padding-top: 2.2rem;
  }

  .sec-08__list-first-item {
    margin-right: 6.5rem;
  }

  #sec-08 .first-counter {
    top: .6rem;
  }

  #sec-08 .second-counter {
    top: .6rem;
  }

  .sec-08__lg-list .sec-08__animation-block-container {
    top: 1.3rem;
    left: 35.8%;
  }
}
