#sec-02 {
  padding-top: 5.9rem;
  padding-bottom: 5.6rem;
}

.sec-02__paragraph {
  font-family: GothaB;
  font-size: pxToRem(14px);
}

.sec-02__paragraph-span {
  display: block;
  font-family: GothaR;
  font-size: pxToRem(16px);
  color: #7f7f7f;
  line-height: 1.5;
  margin-bottom: .7rem;
}

#sec-02 [class*=col-]:first-child {
  margin-bottom: 1.2rem;
}

.sec-02__subtitle {
  margin-bottom: 1.1rem;
}

.sec-02__paragraph {
  line-height: 2.2;
}

@keyframes reverse-spin {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(-360deg);
    transform-origin: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

@media (max-width: 767px) {
  .animation-block {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-02 {
    position: relative;
    padding-top: 9.3rem;
    padding-bottom: 6.8rem;
    background-image: url("img/sec-02/bg-md.png");
    background-size: auto;
    background-position: 50% 150%;
    background-repeat: no-repeat;
    &::before {
      display: block;
      content: "what";
      position: absolute;
      top: 14.6rem;
      left: 50%;
      transform: translateX(-50%);
      font-family: GothaB;
      font-size: pxToRem(180px);
      color: #f7f7f7;
      text-transform: uppercase;
      z-index: -2;
    }
  }

  .sec-02__title {
    margin: auto;
    width: 30rem;
  }

  #sec-02 [class*=col-]:first-child {
    margin-bottom: 2.8rem;
  }

  .sec-02__subtitle {
    margin: auto;
    width: 29.7rem;
    margin-bottom: 1.4rem;
  }

  .sec-02__paragraph {
    margin: auto;
    width: 29.4rem;
  }

  .sec-02__paragraph-span {
    margin-bottom: 1.8rem;
  }

  .sec-02__paragraph-bg-span {
    display: inline-block;
    padding: 0 .5rem;
    background-color: #000;
    color: #fff;
    margin-bottom: .1rem;
    line-height: 1.5;
    letter-spacing: -.2px;
  }

  .animation {
    position: relative;
    width: inherit;
    height: inherit;
  }

  .animation-block {
    position: absolute;
    top: 6.45rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 388px;
    height: 411px;
  }

  .animation-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
  }

  .animation-img-01 {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  // .animation-img-02 {
  //   animation-name: reverse-spin;
  //   animation-duration: 4000ms;
  //   animation-iteration-count: infinite;
  //   animation-timing-function: linear;
  // }
  //
  // .animation-img-03 {
  //   animation-name: spin;
  //   animation-duration: 4000ms;
  //   animation-iteration-count: infinite;
  //   animation-timing-function: linear;
  // }
}

@media (min-width: 1200px) {
  #sec-02 {
    padding-top: 15.8rem;
    padding-bottom: 12.9rem;
    position: relative;
    &::before {
      top: 11.8rem;
      left: 40.3%;
      font-size: pxToRem(250px);
    }
  }

  #sec-02 [class*=col-]:first-child {
    margin-bottom: 0;
  }

  #sec-02 [class*=col-]:last-child {
    padding-top: .4rem;
  }

  .sec-02__title {
    width: inherit;
  }

  .sec-02__subtitle {
    width: inherit;
    padding-left: .4rem;
  }

  .sec-02__paragraph {
    width: inherit;
    padding-left: .5rem;
  }

  .sec-02__paragraph-span {
    padding-right: 5rem;
  }
}
