@font-face {
  font-family: GothaB;
  src: url('fonts/GothaProBol.woff') format("woff"),
       url('fonts/GothaProBol.woff2') format("woff2");
}

@font-face {
  font-family: GothaR;
  src: url('fonts/GothaProReg.woff') format("woff"),
       url('fonts/GothaProReg.woff2') format("woff2");
}
