@font-face {
  font-family: GothaB;
  src: url('fonts/GothaProBol.woff') format("woff"),
       url('fonts/GothaProBol.woff2') format("woff2");
}

@font-face {
  font-family: GothaR;
  src: url('fonts/GothaProReg.woff') format("woff"),
       url('fonts/GothaProReg.woff2') format("woff2");
}

$baseFontSize: 16px;

@function pxToRem($val) {
  $remSize: $val/$baseFontSize;
  @return #{$remSize}rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container--width {
  max-width: 54.125rem;
  min-width: pxToRem(320px);
}

.title {
  font-family: GothaB;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -1px;
}

.subtitle {
  font-family: GothaB;
  font-size: pxToRem(20px);
  line-height: 1.2
}

@media (min-width: 768px) {
  .title {
    font-family: GothaB;
    font-size: pxToRem(60px);
  }
}

// HEADER
body {
  background-image: url("img/all-vacancy/bg-sm.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1a2020;
  padding-bottom: 2.3rem;
  counter-reset: vacancy;
  min-height: 100vh;
}

.sec-01__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem .8rem 0 1rem;
  margin-bottom: 4.2rem;
}

.logo-container {
  width: 2.5rem;
  fill: #26ddf5;
  padding-top: .4rem;
}

.contact-container {
  text-align: right;
}

.menu__mail {
  font-family: GothaB;
  font-size: pxToRem(14px);
  color: #969696;
}

.menu__tel {
  display: inline-block;
  margin-bottom: .5rem;
  font-family: GothaB;
  font-size: pxToRem(14px);
  color: #969696;
  text-decoration: none;
}

.dd__span {
  display: flex;
  align-items: center;
  font-family: GothaB;
  font-size: pxToRem(14px);
  color: #26ddf5;
  text-transform: uppercase;
  margin-bottom: 2rem;
  &::after {
    display: inline-block;
    content: url("img/all-vacancy/arrow.png");
    margin-left: .7rem;
    line-height: 0;
  }
}

.dropdown {
  display: none;
  list-style: none;
  padding-left: 2.2rem;
}

.show {
  display: block;
}

.dropdown__item {
  position: relative;
  font-family: GothaR;
  font-size: pxToRem(16px);
  color: #969696;
  line-height: 1.2;
  margin-bottom: 1rem;
  &:hover {
    transition: all .5s linear;
    text-shadow: 0 0 0 #fff;
    color: #fff;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-of-type(n+10) {
    content: counter(vacancy);
  }
  &::before {
    display: block;
    counter-increment: vacancy;
    content: "0" counter(vacancy);
    position: absolute;
    left: -13%;
    top: .3rem;
    color: #26ddf5;
    font-family: GothaB;
    font-size: pxToRem(10px);
    letter-spacing: 2px;
  }
}

.wrapper-dropdown {
  margin-bottom: 3.8rem;
}

.footer__text {
  font-family: GothaR;
  font-size: pxToRem(14px);
  color: #969696;
  text-align: center;
  padding: 0 1rem;
  line-height: 1.2;
  margin-bottom: .6rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.footer__link {
  display: block;
  color: #26ddf5;
}

@media (max-width: 767px) {
  #desctop-content {
    display: none;
  }
}

@media (min-width: 768px) {
  .md-break {
    display: block;
  }
  body {
    background-image: url("img/all-vacancy/bg-md.png");
  }

  .logo-container {
    width: 2.6rem;
  }


  .border-right {
    border-right: 1px solid #494f50;
  }


  #mobile-content {
    display: none;
  }

  .desctop-content__tabs {
    list-style: none;
    padding-left: .5rem;
    margin-bottom: 3rem;
  }

  .desctop-content__tabs-item {
    font-family: GothaB;
    font-size: pxToRem(14px);
    color: #8e8e8e;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    cursor: pointer;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      color: #fff;
    }
  }

  .desctop-content__tabs-item.active {
    &:hover {
      color: #26ddf5;
    }
  }

  .sec-01__header {
    padding: .6rem 1.5rem 0 1.4rem;
    margin-bottom: 9.9rem;
  }

  .contact-container {
    display: flex;
    padding-top: .3rem;
  }

  .menu__tel {
    margin-bottom: 0;
    order: 2;
    margin-left: 1.8rem;
  }

  .footer__text {
    text-align: left;
    padding-left: .6rem;
    padding-right: .7rem;
    margin-bottom: .9rem;
  }

  .footer__link {
    display: inline-block;
  }

  .desctop-right-content {
    list-style: none;
    padding-left: 4.4rem;
  }

  .dropdown__item:before {
    left: -8%;
  }

  .active {
    color: #26ddf5;
    .tabs-item-span {
      border-bottom: 2px solid #26ddf5;
      padding-bottom: .4rem;
    }
  }
}

@media (max-width: 1199px) {
  .social-link {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    position: relative;
    background-image: url("img/all-vacancy/bg-lg.png");
    &:after {
      position: absolute;
      bottom: 12rem;
      left: -2.5%;
      display: block;
      content: "#вакансиясоль";
      font-size: pxToRem(10px);
      font-family: GothaB;
      color: #26ddf5;
      text-transform: uppercase;
      letter-spacing: 8px;
      transform: rotate(-90deg);
    }
  }

  .sec-01__header {
    padding: .6rem 3rem 0 3.1rem;
    margin-bottom: 13.8rem;
  }

  .desctop-content__tabs {
    padding-left: 2.6rem;
  }

  .footer__text {
    padding-left: 2.6rem;
  }

  .desctop-right-content {
    padding-left: 5.1rem;
  }

  .dropdown__item:before  {
    left: -7.3%;
  }

  .socials-link {
    position: absolute;
    bottom: 6rem;
    right: 2.5%;
    display: flex;
  }

  .social-link {
    display: inline-block;
    text-decoration: none;
    margin-left: 1.5rem;
    &:first-of-type {
      margin-right: 0;
    }
    &:hover {
      transition: all .3s linear;
      opacity: .7;
    }
  }
}
